*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*.swp
.~lock.*
kicad/gerbers/automato-relay-B_Cu.gbl
kicad/gerbers/automato-relay-B_Mask.gbs
kicad/gerbers/automato-relay-B_Paste.gbp
kicad/gerbers/automato-relay-B_SilkS.gbo
kicad/gerbers/automato-relay-Edge_Cuts.gm1
kicad/gerbers/automato-relay-F_Cu.gtl
kicad/gerbers/automato-relay-F_Mask.gts
kicad/gerbers/automato-relay-F_Paste.gtp
kicad/gerbers/automato-relay-F_SilkS.gto
kicad/gerbers/automato-relay-NPTH.drl
kicad/gerbers/automato-relay-PTH.drl
kicad/gerbers/automato-relay-rev2-gerbs.zip
kicad/path826-4-2.png
kicad/automato-relay-Edge_Cuts.svg
kicad/automato-relay-F_CrtYd.svg
kicad/automato-relay-F_SilkS.svg
kicad/automato-relay-brd.svg
kicad/gerbers/automato-relay.drl
kicad/gerbers/automato-relay-rev2-gerbers.zip
